<div class="form-wrapper">
    <h2>Add Player</h2>
    
    <form id="add-player-form" action="/players" method="post">
        <div class="form-el">
            <label for="first_name">First Name</label><br>
            <input type="text" id="first_name" name="first_name" />
        </div>

        <div class="form-el">
            <label for="last_name">Last Name</label><br>
            <input type="text" id="last_name" name="last_name" />
        </div>

        <div class="form-el">
            <label for="rating">Rating</label><br>
            <input type="text" id="rating" name="rating" value="1200"/>
        </div>

        <div class="form-el">
            <button id="submit" value="Submit">Submit</button>
        </div>
    </form>
</div>